# ignore logs, sbatch, and others
*.log
*.out
*.dat
*.init
*.sh

# ignore yaml files
*.yaml

# ignore specific files
tmp.lammps.variable
*.spparks
in.potts_am_IN100_3d
IN100_3D.init
config_file_*
.venv/
2D_T
